@charset "UTF-8";

.new_font {
	font-size: 100%;
	line-height: 1.5em;
	color: #5f5a5e;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.new_font h1, .new_font h2, .new_font h3, .new_font h4, .new_font h5, .new_font h6 {
	color: #5f5a5e;
	font-family: 'Quicksand', sans-serif;
}

.new_font h1 {
	font-size: 280%;
}

.new_font h2 {
	font-size: 230%;
}

.new_font h3 {
	font-size: 200%;
}

.new_font h4 {
	font-size: 180%;
	font-weight:lighter;
}
.new_font h4 {
	font-size: 180%;
	font-weight:lighter;
}
.press h1, .new_font h2, .new_font h3, .new_font h4, .new_font h5, .new_font h6 {
	color: #5f5a5e;
	font-family: 'Quicksand', sans-serif;
}
}

.press h1 {
	font-size: 320%;
	text-align:center;
}

.press h2 {
	font-size: 260%;
	text-align:center;
}
