@charset "UTF-8";
.ul {
  list-style-type: circle;
}



.ol {
  list-style-type: decimal;
}
	

body {
  font-family: Arial, Tahoma, Serif;
  color: #263238;
	  margin: 3em;

}
.mainbody {
	margin: auto;
	padding: 3%; 
}

.new_font {
	font-size: 100%;
	line-height: 1.5em;
	color: #5f5a5e;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.new_font h1, .new_font h2, .new_font h3, .new_font h4, .new_font h5, .new_font h6 {
	color: #5f5a5e;
	font-family: 'Quicksand', sans-serif;
}

.new_font h1 {
	font-size: 280%;
}

.new_font h2 {
	font-size: 230%;
}

.new_font h3 {
	font-size: 200%;
}

.new_font h4 {
	font-size: 180%;
	font-weight:lighter;
}
.new_font h4 {
	font-size: 180%;
	font-weight:lighter;
}
.press {
	font-size: 100%;
	line-height: 1.5em;
	color: #5f5a5e;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.press h1, .press h2, .press h3, .press h4, .press h5, .press h6 {
	color: #5f5a5e;
	font-family: 'Quicksand', sans-serif;

}

.press h1 {
	font-size: 320%;
	text-align:center;
}

.press h2 {
	font-size: 260%;
	text-align:center;
}
.press p { 
padding: 3 px;
}
nav {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
}

nav ul li {
    position: relative;
}

nav a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: black;
    background-color: white;
    margin: 5px;
}

.home-link {
    font-size: 1.2em;
    font-weight: bold;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    float: none;
}

nav ul ul ul {
    left: 100%;
    top: 0;
}

nav ul li:hover > a, nav ul ul li:hover > a {
    background-color: #ddd;
}
.internalNotes {
	vertical-align: super;
	text-align: right;
	font-size: .83em;
}

.card:hover {
  transform: scale(1.1);
}
.card {
  transition: transform 0.5s;
}


